<div fxFlex fxLayout="column" style="height: 100vh;">
    <div fxFlex="60px" fxLayout="row" fxLayoutAlign="start center" class="localTitle">
        <label>Local explainability</label>
    </div>
    <div fxFlex fxLayout="column" fxLayoutGap="20px" class="localBody">
        <app-local-dataset fxFlex class=""></app-local-dataset>

        <div fxFlex fxLayout="column" fxLayoutGap="20px" class="localCard">
            <app-local-filter fxFlex></app-local-filter>
            <app-local-reason fxFlex style="padding: 0px 35px"></app-local-reason>
            <div fxFlex fxLayout="row" fxLayoutGap="20px" style="padding: 0px 35px">
                <app-local-graph fxFlex class="localCard"></app-local-graph>
                <app-local-features fxFlex class="localCard"></app-local-features>
            </div>
        </div>
    </div>
</div>
