<!--
    © 2023 Telefónica Digital España S.L.

    This file is part of XAIoGraphs.

    XAIoGraphs is free software: you can redistribute it and/or modify it under the terms of
    the Affero GNU General Public License as published by the Free Software Foundation,
    either version 3 of the License, or (at your option) any later version.

    XAIoGraphs is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
    without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
    See the Affero GNU General Public License for more details.

    You should have received a copy of the Affero GNU General Public License along with XAIoGraphs.
    If not, see https://www.gnu.org/licenses/.
-->


<div fxFlex fxLayout="column" style="height: 100vh;">
    <div fxFlex="60px" fxLayout="row" fxLayoutAlign="space-between center" class="localTitle"  *ngIf="fileExists">
        <label>Local explainability</label>
        <div fxLayout="column" fxLayoutAlign="center center" class="localTheme">
            <label>Theme</label>
            <mat-icon (click)="openPalette()">palette</mat-icon>
        </div>
    </div>
    <div fxFlex fxLayout="column" fxLayoutGap="20px" class="localBody" *ngIf="fileExists">
        <app-local-dataset fxFlex class=""></app-local-dataset>

        <div fxFlex fxLayout="column" fxLayoutGap="20px" class="localCard">
            <app-local-filter fxFlex></app-local-filter>
            <app-local-reason fxFlex style="padding: 0px 35px"></app-local-reason>
            <div fxFlex fxLayout="row" fxLayoutGap="20px" style="padding: 0px 35px">
                <app-local-features fxFlex></app-local-features>
                <app-local-graph fxFlex></app-local-graph>
            </div>
        </div>
    </div>

    <div fxFlex fxLayout="row" fxLayoutAlign="center center" class="localBody" *ngIf="!fileExists">
        <div fxFlex fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
            <img src="assets/20221029_lamb_icon.png" style="height: 40%; width: 40%;" alt="missing files"/>
            <label class="missingAlert">Missing important files</label>
        </div>
    </div>
</div>
