<!--
    © 2023 Telefónica Digital España S.L.

    This file is part of XAIoGraphs.

    XAIoGraphs is free software: you can redistribute it and/or modify it under the terms of
    the Affero GNU General Public License as published by the Free Software Foundation,
    either version 3 of the License, or (at your option) any later version.

    XAIoGraphs is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
    without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
    See the Affero GNU General Public License for more details.

    You should have received a copy of the Affero GNU General Public License along with XAIoGraphs.
    If not, see https://www.gnu.org/licenses/.
-->


<div #exportableArea fxFlex fxLayout="column" fxLayoutGap="25px" class="fairnessCard">
    <div fxLayout="row" fxLayoutAlign="space-between center" class="fairnessTitleBorder">
        <div fxFlex fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
            <label class="fairnessConfMatrixTitle">Confusion Matrix</label>
        </div>
        <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px" *ngIf="!hidePicture">
            <label>Display percentaje values</label>
            <mat-slide-toggle [(ngModel)]="displayPercent">%</mat-slide-toggle>
            <mat-icon style="cursor: pointer;" matTooltip="Download as image" (click)="downloadPicture()" alt="Download as image">photo_camera</mat-icon>
        </div>
    </div>

    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
        <label>PREDICT</label>
        <div fxLayout="row" fxLayoutAlign="center center" style="width: 100%;" fxLayoutGap="15px">
            <label style="writing-mode: vertical-rl; text-orientation: upright;">ACTUAL</label>
            <mat-grid-list cols="{{ listLabels.length + 1 }}" rowHeight="50px" *ngIf="!displayPercent" style="width: 100%;">
                <mat-grid-tile></mat-grid-tile>
                <mat-grid-tile *ngFor="let item of listLabels"><label class="matrix_title">{{ item }}</label></mat-grid-tile>
                <ng-container *ngFor="let itemRow of listLabels">
                    <mat-grid-tile><label class="matrix_title">{{ itemRow }}</label></mat-grid-tile>
                    <mat-grid-tile *ngFor="let itemColumn of listLabels">
                        <label class="matrix_value" [ngStyle]="getBGColor(itemRow, itemColumn)"> {{ matrixValues[itemRow][itemColumn] }} </label>
                    </mat-grid-tile>
                </ng-container>
            </mat-grid-list>
            <mat-grid-list cols="{{ listLabels.length + 1 }}" rowHeight="50px" *ngIf="displayPercent" style="width: 100%;">
                <mat-grid-tile></mat-grid-tile>
                <mat-grid-tile *ngFor="let item of listLabels"><label class="matrix_title">{{ item }}</label></mat-grid-tile>
                <ng-container *ngFor="let itemRow of listLabels">
                    <mat-grid-tile><label class="matrix_title">{{ itemRow }}</label></mat-grid-tile>
                    <mat-grid-tile *ngFor="let itemColumn of listLabels">
                        <label class="matrix_value" [ngStyle]="getBGColor(itemRow, itemColumn)"> {{ (matrixPercent[itemRow][itemColumn]* 100).toFixed(1) }} % </label>
                    </mat-grid-tile>
                </ng-container>
            </mat-grid-list>
        </div>
    </div>

</div>
