<!--
    © 2023 Telefónica Digital España S.L.

    This file is part of XAIoGraphs.

    XAIoGraphs is free software: you can redistribute it and/or modify it under the terms of
    the Affero GNU General Public License as published by the Free Software Foundation,
    either version 3 of the License, or (at your option) any later version.

    XAIoGraphs is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
    without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
    See the Affero GNU General Public License for more details.

    You should have received a copy of the Affero GNU General Public License along with XAIoGraphs.
    If not, see https://www.gnu.org/licenses/.
-->


<div #exportableArea fxFlex fxLayout="column" fxLayoutGap="25px" class="fairnessCard">
    <div fxLayout="row" fxLayoutAlign="space-between center" class="fairnessTitleBorder">
        <div fxFlex fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
            <label class="fairnessCriteriasTitle">Fairness Criterias Score</label>
        </div>
        <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px" *ngIf="!hidePicture">
            <mat-icon style="cursor: pointer;" matTooltip="Download as image" (click)="downloadPicture()" alt="Download as image">photo_camera</mat-icon>
        </div>
    </div>
    <mat-grid-list cols="4" rowHeight="50px">
        <mat-grid-tile><label class="criterias_title" style="border:1px solid  rgb(75, 15, 85)">Feature</label></mat-grid-tile>
        <mat-grid-tile>
            <div fxLayout="row" fxLayoutGap="5px" class="criterias_title" fxLayoutAlign="center center">
                <label>Independence</label>
                <mat-icon class="criterias_help" (click)="openIndependence()" *ngIf="!hidePicture">help</mat-icon>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div fxLayout="row" fxLayoutGap="5px" class="criterias_title" fxLayoutAlign="center center">
                <label>Separation</label>
                <mat-icon class="criterias_help" (click)="openSeparation()" *ngIf="!hidePicture">help</mat-icon>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div fxLayout="row" fxLayoutGap="5px" class="criterias_title" fxLayoutAlign="center center">
                <label>Sufficiency</label>
                <mat-icon class="criterias_help" (click)="openSufficiency()" *ngIf="!hidePicture">help</mat-icon>
            </div>
        </mat-grid-tile>
        <ng-container *ngFor="let criteria of listCriterias">
            <mat-grid-tile><label class="criterias_feature">{{ criteria[headers[0]] }}</label></mat-grid-tile>
            <mat-grid-tile>
                <div fxFlex fxLayout="column" fxLayoutAlign="center center" [className]="'criterias' + criteria[headers[2]]">
                    <label class="criterias_value_class">{{ criteria[headers[2]].replace('P','+') }}</label>
                    <label class="criterias_percent_class">{{ criteria[headers[1]] }}</label>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div fxFlex fxLayout="column" fxLayoutAlign="center center" [className]="'criterias' + criteria[headers[4]]">
                    <label class="criterias_value_class">{{ criteria[headers[4]].replace('P','+') }}</label>
                    <label class="criterias_percent_class">{{ criteria[headers[3]] }}</label>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div fxFlex fxLayout="column" fxLayoutAlign="center center" [className]="'criterias' + criteria[headers[6]]">
                    <label class="criterias_value_class">{{ criteria[headers[6]].replace('P','+') }}</label>
                    <label class="criterias_percent_class">{{ criteria[headers[5]] }}</label>
                </div>
            </mat-grid-tile>
        </ng-container>

    </mat-grid-list>
    <app-legend></app-legend>
</div>
