<!--
    © 2023 Telefónica Digital España S.L.

    This file is part of XAIoGraphs.

    XAIoGraphs is free software: you can redistribute it and/or modify it under the terms of
    the Affero GNU General Public License as published by the Free Software Foundation,
    either version 3 of the License, or (at your option) any later version.

    XAIoGraphs is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
    without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
    See the Affero GNU General Public License for more details.

    You should have received a copy of the Affero GNU General Public License along with XAIoGraphs.
    If not, see https://www.gnu.org/licenses/.
-->


<div fxFlex fxLayout="column" fxLayoutGap="25px">
    <div fxFlex fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
        <label class="fairnessCriteriaConcept" style="text-transform: uppercase;">{{ moduleName }}</label>
        <mat-icon class="criterias_help_contrast" (click)="openSeparation()" *ngIf="!hidePicture">help</mat-icon>
    </div>
    <mat-grid-list [cols]="headers.length + 1" rowHeight="50px">
        <mat-grid-tile><label class="criterias_title">{{ currentFeature }}</label></mat-grid-tile>
        <mat-grid-tile *ngFor="let header of headers">
            <div fxLayout="row" fxLayoutGap="5px" class="criterias_title" fxLayoutAlign="center center">
                <label>{{ header }}</label>
            </div>
        </mat-grid-tile>
        <ng-container *ngFor="let criteria of listData">
            <mat-grid-tile><label class="criterias_feature">{{ criteria.sensitive_value }}</label></mat-grid-tile>
            <mat-grid-tile *ngFor="let header of headers">
                <div fxFlex fxLayout="column" fxLayoutAlign="center center" [className]="'criterias' + criteria['score_' + header + '_class']">
                    <label class="criterias_value_class">{{ criteria['score_' + header] }}</label>
                    <label class="criterias_percent_class">{{ criteria['score_' + header + '_value'] }}</label>
                </div>
            </mat-grid-tile>
        </ng-container>
    </mat-grid-list>
</div>
