<!--
    © 2023 Telefónica Digital España S.L.

    This file is part of XAIoGraphs.

    XAIoGraphs is free software: you can redistribute it and/or modify it under the terms of
    the Affero GNU General Public License as published by the Free Software Foundation,
    either version 3 of the License, or (at your option) any later version.

    XAIoGraphs is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
    without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
    See the Affero GNU General Public License for more details.

    You should have received a copy of the Affero GNU General Public License along with XAIoGraphs.
    If not, see https://www.gnu.org/licenses/.
-->


<div fxFlex fxLayout="row" fxLayoutGap="10px" class="fairnessCard" *ngIf="listCorrelation.length > 0" fxLayoutAlign="start center">
    <mat-icon>warning</mat-icon>
    <label class="fairnessCorrelationTitle">Features correlation:</label>
    <div fxFlex fxLayout="row" fxLayoutGap="10px">
        <label *ngFor="let correlation of listCorrelation">{{ correlation.feature_1 }} is highly correlated (Pearson={{ correlation.correlation_value }}) with the {{ correlation.feature_2 }} feature</label>
    </div>
</div>
