<div>
    <div fxFlex fxLayout="row">
        <div fxFlex fxLayout="column" fxLayoutAlign="center center" class="ap">
            <label class="bold">A+</label>
            <label>0-2%</label>
        </div>
        <div class="arrow-wrapper">
            <div class="arrow-cover">
                <div class="arrow colorAP"></div>
            </div>
        </div>
    </div>
    <div fxFlex fxLayout="row">
        <div fxFlex fxLayout="column" fxLayoutAlign="center center" class="a">
            <label class="bold">A</label>
            <label>2-5%</label>
        </div>
        <div class="arrow-wrapper">
            <div class="arrow-cover">
                <div class="arrow colorA"></div>
            </div>
        </div>
    </div>
    <div fxFlex fxLayout="row">
        <div fxFlex fxLayout="column" fxLayoutAlign="center center" class="b">
            <label class="bold">B</label>
            <label>5-8%</label>
        </div>
        <div class="arrow-wrapper">
            <div class="arrow-cover">
                <div class="arrow colorB"></div>
            </div>
        </div>
    </div>
    <div fxFlex fxLayout="row">
        <div fxFlex fxLayout="column" fxLayoutAlign="center center" class="c">
            <label class="bold">C</label>
            <label>8-15%</label>
        </div>
        <div class="arrow-wrapper">
            <div class="arrow-cover">
                <div class="arrow colorC"></div>
            </div>
        </div>
    </div>
    <div fxFlex fxLayout="row">
        <div fxFlex fxLayout="column" fxLayoutAlign="center center" class="d">
            <label class="bold">D</label>
            <label>15-25%</label>
        </div>
        <div class="arrow-wrapper">
            <div class="arrow-cover">
                <div class="arrow colorD"></div>
            </div>
        </div>
    </div>
    <div fxFlex fxLayout="row">
        <div fxFlex fxLayout="column" fxLayoutAlign="center center" class="e">
            <label class="bold">E</label>
            <label>> 25%</label>
        </div>
    </div>
</div>
