<!--
    © 2023 Telefónica Digital España S.L.

    This file is part of XAIoGraphs.

    XAIoGraphs is free software: you can redistribute it and/or modify it under the terms of
    the Affero GNU General Public License as published by the Free Software Foundation,
    either version 3 of the License, or (at your option) any later version.

    XAIoGraphs is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
    without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
    See the Affero GNU General Public License for more details.

    You should have received a copy of the Affero GNU General Public License along with XAIoGraphs.
    If not, see https://www.gnu.org/licenses/.
-->


<div>
    <div fxFlex fxLayout="row">
        <div fxFlex fxLayout="column" fxLayoutAlign="center center" class="ap">
            <label class="bold">A+</label>
            <label>0-2%</label>
        </div>
        <div class="arrow-wrapper">
            <div class="arrow-cover">
                <div class="arrow colorAP"></div>
            </div>
        </div>
    </div>
    <div fxFlex fxLayout="row">
        <div fxFlex fxLayout="column" fxLayoutAlign="center center" class="a">
            <label class="bold">A</label>
            <label>2-5%</label>
        </div>
        <div class="arrow-wrapper">
            <div class="arrow-cover">
                <div class="arrow colorA"></div>
            </div>
        </div>
    </div>
    <div fxFlex fxLayout="row">
        <div fxFlex fxLayout="column" fxLayoutAlign="center center" class="b">
            <label class="bold">B</label>
            <label>5-8%</label>
        </div>
        <div class="arrow-wrapper">
            <div class="arrow-cover">
                <div class="arrow colorB"></div>
            </div>
        </div>
    </div>
    <div fxFlex fxLayout="row">
        <div fxFlex fxLayout="column" fxLayoutAlign="center center" class="c">
            <label class="bold">C</label>
            <label>8-15%</label>
        </div>
        <div class="arrow-wrapper">
            <div class="arrow-cover">
                <div class="arrow colorC"></div>
            </div>
        </div>
    </div>
    <div fxFlex fxLayout="row">
        <div fxFlex fxLayout="column" fxLayoutAlign="center center" class="d">
            <label class="bold">D</label>
            <label>15-25%</label>
        </div>
        <div class="arrow-wrapper">
            <div class="arrow-cover">
                <div class="arrow colorD"></div>
            </div>
        </div>
    </div>
    <div fxFlex fxLayout="row">
        <div fxFlex fxLayout="column" fxLayoutAlign="center center" class="e">
            <label class="bold">E</label>
            <label>> 25%</label>
        </div>
    </div>
</div>
