<!--
    © 2023 Telefónica Digital España S.L.

    This file is part of XAIoGraphs.

    XAIoGraphs is free software: you can redistribute it and/or modify it under the terms of
    the Affero GNU General Public License as published by the Free Software Foundation,
    either version 3 of the License, or (at your option) any later version.

    XAIoGraphs is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
    without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
    See the Affero GNU General Public License for more details.

    You should have received a copy of the Affero GNU General Public License along with XAIoGraphs.
    If not, see https://www.gnu.org/licenses/.
-->


<div fxLayout="row" fxLayoutAlign="space-between center" class="localExplanationTitle">
    <label>Local explanation</label>
    <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px" class="localExplanationFilter">
        <label>Features selection</label>
        <div fxFlex="300px" fxLayout="row" fxLayoutAlign="start center" class="" fxLayoutGap="20px">
            <mat-slider min=1 step=1 max="{{ maxFeatures }}" thumbLabel='true' [(ngModel)]="numFeatures" style="width: 100%;" (change)="updateFeatures($event)"></mat-slider>
            <label>{{ numFeatures }}</label>
        </div>
    </div>
</div>
