<!--
    © 2023 Telefónica Digital España S.L.

    This file is part of XAIoGraphs.

    XAIoGraphs is free software: you can redistribute it and/or modify it under the terms of
    the Affero GNU General Public License as published by the Free Software Foundation,
    either version 3 of the License, or (at your option) any later version.

    XAIoGraphs is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
    without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
    See the Affero GNU General Public License for more details.

    You should have received a copy of the Affero GNU General Public License along with XAIoGraphs.
    If not, see https://www.gnu.org/licenses/.
-->


<div #exportableArea fxFlex fxLayout="column" fxLayoutGap="5px" class="localCard">
    <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
        <div fxFlex fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
            <label class="localNetGraphTitle">Features-values relations</label>
            <label class="localNetGraphSubTitle" *ngIf="currentTarget">( {{ currentTarget.target }} )</label>
        </div>
        <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px" *ngIf="!hidePicture">
            <mat-icon style="cursor: pointer;" matTooltip="Download as image" (click)="downloadPicture()" alt="Download as image">photo_camera</mat-icon>
        </div>
    </div>
    <label *ngIf="detailedNode == ''">To access <b>Detail View</b>, click on an specific node</label>
    <label *ngIf="detailedNode != ''">To exit Detail View, click on selected node [<b>{{ detailedNode }}</b>]</label>
    <div class="localGraphTooltipLink">
        <div id="divGraph" class="localNetGraphChart" (mousemove)="mouseMoved($event)"></div>
        <div fxFlex fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="center center" class="localGraphTooltip" *ngIf="nodeOver" [style.top.px]="nodeTopOver" [style.left.px]="nodeLeftOver">
            <div fxLayout="row" style="width: 100%;">
                <label class="localTooltipHeader" style="text-align: center;">{{ nodeNameOver }}</label>
            </div>

            <div fxLayout="row" style="width: 100%;" fxLayoutAlign="space-between center">
                <label class="localTooltipLabel">Importance</label>
                <label class="localTooltipValue">{{ nodeImportanceOver }}</label>
            </div>
        </div>
    </div>

    <div fxFlex fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5px">
        <div fxFlex fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="center center" *ngIf="showLegend">
            <div fxLayout="row" fxLayoutGap="5px">
                <div style="width: 15px; height: 15px; border: 1px solid black; border-radius: 3px;" [style.background-color]="colorTheme.positiveValue"></div>
                <label>Positive values</label>
            </div>
            <div fxLayout="row" fxLayoutGap="5px">
                <div style="width: 15px; height: 15px; border: 1px solid black; border-radius: 3px;" [style.background-color]="colorTheme.negativeValue"></div>
                <label>Negative values</label>
            </div>
            <div fxLayout="row" fxLayoutGap="5px">
                <div style="width: 15px; height: 15px; border: 1px solid black; border-radius: 3px;" [style.background-color]="colorTheme.frecuencyValue"></div>
                <label>Relation</label>
            </div>
        </div>
    </div>
</div>
