.localTitle {
    @extend .bgGrey4;
    @extend .fontWhite;
    @extend .fontBold;
    height: 60px;
    padding-left: 25px;
    font-size: 25px;
}

.localBody {
    @extend .bodyComponent;
    overflow: auto;
}

.localCard {
    @extend .contentComponent;
    @extend .brdGrey3;
    @extend .bgWhite;
}

.localDataset {
    @extend .brdGrey3;
    @extend .bgWhite;
    border-radius: 8px;
    height: 400px;
    overflow-y: auto;
}

.localFeatureTitle, .localDistributionTitle, .localFeatureTargetTitle, .localNetGraphTitle, .localDatasetTitle {
    @extend .fontGrey5;
    @extend .fontBold;
    font-size: 18px;
}

.localFeatureChart, .localDistributionChart {
    @extend .width100;
    height: 300px;
}
.localNetGraphChart, .localFeatureTargetChart {
    @extend .width100;
    height: 500px;
}
