<div fxFlex fxLayout="column" style="height: 100vh;">
    <div fxFlex="60px" fxLayout="row" fxLayoutAlign="start center" class="dataTitle">
        <label>Data analysis</label>
    </div>
    <div fxFlex fxLayout="column" fxLayoutGap="20px" class="dataBody">
        <app-data-dataset fxFlex></app-data-dataset>
        <mat-grid-list rowHeight="300px" cols="4" gutterSize="10px">
            <mat-grid-tile fxFlex *ngFor="let columnName of displayColumns">
                <app-dataset-graph fxFlex class="dataCard" [dataSource]="jsonResponse" [columnName]=columnName></app-dataset-graph>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>
