<div fxFlex fxLayout="column" fxLayoutGap="20px">
    <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
        <label class="globalFeatureTargetTitle">Features-values importance</label>
        <label class="globalFeatureTargetSubTitle">target selected: {{ currentTarget }}</label>
    </div>
    <div fxLayout="column">
        <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
            <label>Display frecuency</label>
            <mat-slide-toggle [(ngModel)]="showFrecuency"></mat-slide-toggle>
        </div>
        <google-chart class="globalFeatureTargetChart" #chart [type]="type" [data]="dataGraph" [columns]="columnNames" [options]="options" *ngIf="displayGraph && showFrecuency"> </google-chart>
        <google-chart class="globalFeatureTargetChart" #chart [type]="type" [data]="dataGraphNoFrec" [columns]="columnNamesNoFrec" [options]="optionsNoFrec" *ngIf="displayGraph && !showFrecuency"> </google-chart>
        <img src="../../../../assets/empty.png" class="globalNoData" *ngIf="!displayGraph" alt="No data" />
    </div>
</div>
