<!--
    © 2023 Telefónica Digital España S.L.

    This file is part of XAIoGraphs.

    XAIoGraphs is free software: you can redistribute it and/or modify it under the terms of
    the Affero GNU General Public License as published by the Free Software Foundation,
    either version 3 of the License, or (at your option) any later version.

    XAIoGraphs is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
    without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
    See the Affero GNU General Public License for more details.

    You should have received a copy of the Affero GNU General Public License along with XAIoGraphs.
    If not, see https://www.gnu.org/licenses/.
-->


<div #exportableArea fxFlex fxLayout="column" fxLayoutGap="5px" class="globalCard">
    <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
        <div fxFlex fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
            <label class="globalFeatureTargetTitle">Features-values importance</label>
            <label class="globalFeatureTargetSubTitle">( {{ currentTarget }} )</label>
        </div>
        <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px" *ngIf="!hidePicture">
            <label>Display frecuency</label>
            <mat-slide-toggle [(ngModel)]="showFrecuency"></mat-slide-toggle>
            <mat-icon style="cursor: pointer;" matTooltip="Download as image" (click)="downloadPicture()" alt="Download as image">photo_camera</mat-icon>
        </div>
    </div>
    <div fxLayout="column">
        <google-chart class="globalFeatureTargetChart" #chart [type]="type" [data]="dataGraph" [columns]="columnNames" [options]="options" *ngIf="displayGraph && showFrecuency"> </google-chart>
        <google-chart class="globalFeatureTargetChart" #chart [type]="type" [data]="dataGraphNoFrec" [columns]="columnNamesNoFrec" [options]="optionsNoFrec" *ngIf="displayGraph && !showFrecuency"> </google-chart>
        <div fxFlex fxLayout="row" fxLayoutAlign="center center"  *ngIf="displayGraph">
            <div fxFlex fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="center center" style="padding-top: 15px;">
                <div fxLayout="row" fxLayoutGap="5px">
                    <div style="width: 15px; height: 15px; border: 1px solid black; border-radius: 3px;" [style.background-color]="colorTheme.positiveValue"></div>
                    <label>Positive values</label>
                </div>
                <div fxLayout="row" fxLayoutGap="5px">
                    <div style="width: 15px; height: 15px; border: 1px solid black; border-radius: 3px;" [style.background-color]="colorTheme.negativeValue"></div>
                    <label>Negative values</label>
                </div>
                <div fxLayout="row" fxLayoutGap="5px" *ngIf="showFrecuency">
                    <div style="width: 15px; height: 15px; border: 1px solid black; border-radius: 3px;" [style.background-color]="colorTheme.frecuencyValue"></div>
                    <label>Frecuency</label>
                </div>
            </div>
        </div>
        <img src="../../../../assets/empty.png" class="globalNoData" *ngIf="!displayGraph" alt="No data" />
    </div>
</div>
