<!--
    © 2023 Telefónica Digital España S.L.

    This file is part of XAIoGraphs.

    XAIoGraphs is free software: you can redistribute it and/or modify it under the terms of
    the Affero GNU General Public License as published by the Free Software Foundation,
    either version 3 of the License, or (at your option) any later version.

    XAIoGraphs is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
    without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
    See the Affero GNU General Public License for more details.

    You should have received a copy of the Affero GNU General Public License along with XAIoGraphs.
    If not, see https://www.gnu.org/licenses/.
-->


<div #exportableArea fxFlex fxLayout="column" fxLayoutGap="5px" class="globalCard">
    <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
            <label class="globalFeatureTargetTitle">Features Heatmap</label>
            <label class="globalFeatureTargetSubTitle">( {{ currentTarget }} )</label>
        </div>
        <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px" *ngIf="!hidePicture">
            <mat-icon style="cursor: pointer;" matTooltip="Download as image" (click)="downloadPicture()" alt="Download as image">photo_camera</mat-icon>
        </div>
    </div>
    <div fxFlex fxLayout="row" fxLayoutGap="5px">
        <div fxFlex fxLayout="column">
            <div fxFlex fxLayout="row" *ngFor="let features of dataSource" fxLayoutAlign="center center">
                <label class="globalHeatMapFeature">{{ features.feature }}</label>
                <div fxFlex style="height: 100%;" [style.background-color]="colorTheme.zeroValue">
                    <div [fxFlex]="values.frecuency" fxLayout="column" *ngFor="let values of features.values" fxLayoutAlign="center center" fxLayoutGap="5px" class="globalHeatMapValue" [style.background-color]="values.colorBase" (mouseover)="tooltipHover(features.feature, values.value)" (mouseout)="tooltipHover('', '')">
                        <div fxFlex class="globalTooltipLink" fxLayoutAlign="center center">
                            <label *ngIf="values.frecuency > 5" [style.color]="values.fontColor" class="globalHeatMapIndArea">{{ values.value }}</label>
                            <div fxFlex fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="center center" class="globalTooltip" *ngIf="values.value == tooltipValue && features.feature == tooltipFeature">
                                <div fxLayout="row" style="width: 100%;" fxLayoutAlign="space-between center">
                                    <label class="globalTooltipHeader">{{ features.feature }}</label>
                                    <label class="globalTooltipHeader" style="text-align: right;">{{ values.value }}</label>
                                </div>

                                <div fxLayout="row" style="width: 100%;" fxLayoutAlign="space-between center">
                                    <label class="globalTooltipLabel">Importance</label>
                                    <label class="globalTooltipValue">{{ values.importanceLabeled }}</label>
                                </div>
                                <div fxLayout="row" style="width: 100%;" fxLayoutAlign="space-between center">
                                    <label class="globalTooltipLabel">Frecuency</label>
                                    <label class="globalTooltipValue">{{ values.frecuency }}%</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div fxFlex="3" fxLayout="column" style="border: 1px solid black; color: white" [style.background-image]="heatMapLegendStyle" fxLayoutAlign="space-between center">
            <label>+</label>
            <label>-</label>
        </div>
    </div>
</div>
