<div fxFlex fxLayout="column" style="padding: 0px 20px;">
    <div fxFlex fxLayout="row" fxLayoutGap="5px" style="border-bottom: 1px solid grey;">
        <label *ngFor="let target of listTarget; index as index" class="globalTargetFilter" [ngClass]="{globalTargetFilterSelected: (currentTargetIndex == index)}" (click)="updateTarget(index)">{{target}}</label>
    </div>
    <div fxFlex fxLayout="row" fxLayoutGap="20px" style="padding: 20px 0px;">
        <app-global-target-explainability fxFlex class="globalCard"></app-global-target-explainability>
        <app-global-heatmap fxFlex class="globalCard"></app-global-heatmap>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px" fxLayoutAlign="center center">
        <div fxFlex="450px" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
            <label class="globalTargetTitle">Frecuency selection</label>
            <mat-slider fxFlex min=5 step=1 max="{{ maxFrecuency }}" thumbLabel='true' [(ngModel)]="numFrecuency" (input)="updateFrecuency($event)"></mat-slider>
            <label>{{ numFrecuency }} / {{ maxFrecuency }}</label>
        </div>
        <div fxFlex="450px" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
            <label class="globalTargetTitle">Features selection</label>
            <mat-slider fxFlex min=5 step=1 max="{{ maxFeatures }}" thumbLabel='true' [(ngModel)]="numFeatures" (input)="updateFeatures($event)"></mat-slider>
            <label>{{ numFeatures }} / {{ maxFeatures }}</label>
        </div>
    </div>
    <div fxFlex fxLayout="row" fxLayoutGap="20px" style="padding: 20px 0px;">
        <app-global-target-features fxFlex class="globalCard"></app-global-target-features>
        <app-global-target-graph fxFlex class="globalCard"></app-global-target-graph>
    </div>
</div>
