<div fxFlex fxLayout="column" style="padding: 0px 20px;">
    <div fxFlex fxLayout="row" fxLayoutGap="5px" class="globalFeatureTitleBorder" fxLayoutAlign="space-between center">
        <div fxFlex fxLayout="row" fxLayoutGap="5px">
            <label *ngFor="let target of listTarget; index as index" class="globalTargetFilter" [ngClass]="{globalTargetFilterSelected: (currentTargetIndex == index)}" (click)="updateTarget(index)" [style.color]="target.color">{{ target.target }}</label>
        </div>
        <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="end center" fxLayoutGap="5px" *ngIf="isBinary">
            <mat-icon style="color:red">error</mat-icon>
            <label style="color:navy; font-weight: bold;">The current case study presents a binary target, so it must be taken into account that both targets are complementary to each other.</label>
        </div>
    </div>
    <div fxFlex fxLayout="row" fxLayoutGap="20px" style="padding: 20px 0px;">
        <app-global-target-explainability fxFlex></app-global-target-explainability>
        <app-global-heatmap fxFlex></app-global-heatmap>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px" fxLayoutAlign="center center">
        <div fxFlex="450px" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
            <label class="globalTargetTitle">Frecuency selection</label>
            <mat-slider fxFlex min=5 step=1 max="{{ maxFrecuency }}" thumbLabel='true' [(ngModel)]="numFrecuency" (change)="updateFrecuency($event)"></mat-slider>
            <label>{{ numFrecuency }} / {{ maxFrecuency }}</label>
        </div>
        <div fxFlex="450px" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
            <label class="globalTargetTitle">Features selection</label>
            <mat-slider fxFlex min=5 step=1 max="{{ maxFeatures }}" thumbLabel='true' [(ngModel)]="numFeatures" (change)="updateFeatures($event)"></mat-slider>
            <label>{{ numFeatures }} / {{ maxFeatures }}</label>
        </div>
    </div>
    <div fxFlex fxLayout="row" fxLayoutGap="20px" style="padding: 20px 0px;">
        <app-global-target-features fxFlex></app-global-target-features>
        <app-global-target-graph fxFlex></app-global-target-graph>
    </div>
</div>
