<div fxFlex fxLayout="column" fxLayoutGap="5px">
    <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
        <label class="globalFeatureTargetTitle">Features importance</label>
        <label class="globalFeatureTargetSubTitle">target selected: {{ currentTarget }}</label>
    </div>
    <google-chart class="globalFeatureChart" style="height:100%" #chart [type]="type" [data]="dataGraph" [columns]="columnNames" [options]="options" *ngIf="displayGraph"> </google-chart>
    <img src="../../../../assets/empty.png" class="globalNoData" *ngIf="!displayGraph" alt="No data" />
</div>
