@import "../../../styles.scss";

.globalTitle {
    @extend .bgGrey4;
    @extend .fontWhite;
    @extend .fontBold;
    height: 60px;
    padding: 0px 25px;
    font-size: 30px;
}

.globalTheme {
    font-size: 15px;
}

.globalBody {
    @extend .bodyComponent;
    overflow: auto;
}

.globalCard {
    @extend .contentComponent;
    @extend .brdGrey3;
    @extend .bgWhite;
}

.globalFeatureTitle,
.globalDistributionTitle,
.globalFeatByTarget {
    @extend .fontGrey5;
    @extend .fontBold;
    font-size: 25px;
    padding: 10px;
}

.globalFeatureTitleBorder {
    border-bottom: 1px solid gray;
}

.globalFeatureTargetSubTitle,
.globalNetGraphSubTitle {
    @extend .fontGrey4;
    @extend .fontBold;
    font-size: 15px !important;
}

.globalFeatureTargetTitle,
.globalNetGraphTitle {
    @extend .fontGrey5;
    @extend .fontBold;
    font-size: 24px;
}

.globalTargetTitle {
    @extend .fontGrey4;
    @extend .fontBold;
}

.globalTargetFilter {
    padding: 20px;
    cursor: pointer;
    font-size: 13px;
}

.globalTargetFilterSelected {
    @extend .fontBold;
    border-bottom: 3px solid navy;
}

.globalFeatureChart,
.globalDistributionChart {
    @extend .width100;
    min-height: 300px;
    height: 100%;
}
.globalNetGraphChart,
.globalFeatureTargetChart {
    @extend .width100;
    height: 500px;
}

.globalNoData {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.globalHeatMapFeature {
    width: 150px !important;
    text-align: right;
    padding: 5px;
}

.globalHeatMapValue {
    width: 100%;
    border:1px solid grey;
    height: 40px;
    cursor: pointer;
}

.globalHeatMapIndArea {
    cursor: pointer;
    font-size: 12px;
    text-align: center;
}

.globalTooltipLink {
    position: relative;
}

.globalTooltip {
    padding: 10px;
    background-color: white;
    border: 1px solid gray;
    position: absolute;
    top: 50px;
    width: 200px;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
    z-index: 10;
    font-size: 13px;
}

.globalGraphTooltipLink {
    position: relative;
}

.globalGraphTooltip {
    padding: 10px;
    background-color: white;
    border: 1px solid gray;
    position: absolute;
    top: 50px;
    width: 200px;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
    z-index: 10;
    font-size: 13px;
}

.globalTooltipHeader {
    @extend .fontBold;
    border-bottom: 1px solid gray;
    width: 100%;
    padding-bottom: 5px;
    color:#008e9b
}
.globalTooltipLabel {
    @extend .fontBold;
}

.missingAlert {
    font-size: 30px;
    font-weight: bold;
}
