<div fxFlex fxLayout="column" style="height: 100vh;">
    <div fxFlex="60px" fxLayout="row" fxLayoutAlign="space-between center" class="globalTitle">
        <label>Global explainability</label>
        <div fxLayout="column" fxLayoutAlign="center center" class="globalTheme">
            <label>Theme</label>
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
                <label>1</label>
                <mat-slide-toggle [(ngModel)]="theme" (change)="changeTheme()"></mat-slide-toggle>
                <label>2</label>
            </div>
        </div>
    </div>
    <div fxFlex fxLayout="column" fxLayoutGap="20px" class="globalBody">
        <div fxFlex fxLayout="row" fxLayoutGap="20px">
            <app-global-features fxFlex class="globalCard"></app-global-features>
            <app-global-distribution fxFlex class="globalCard"></app-global-distribution>
        </div>

        <div fxFlex fxLayout="column" fxLayoutGap="10px" class="globalCard">
            <label class="globalFeatByTarget">Feature distribution by target</label>
            <app-global-target fxFlex></app-global-target>
            <div fxFlex fxLayout="row" fxLayoutGap="20px" style="padding: 0px 35px;">
                <app-global-target-graph fxFlex class="globalCard"></app-global-target-graph>
                <app-global-target-features fxFlex class="globalCard"></app-global-target-features>
            </div>
        </div>
    </div>
</div>
