<div fxFlex fxLayout="column" fxLayoutGap="25px">
    <div fxFlex fxLayout="row" class="brdGrey3_bottom">
        <div fxFlex fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
            <label class="dialog_title" style="padding: 10px">Independence definition</label>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
            <mat-icon class="close" (click)="dialogRef.close()">close</mat-icon>
        </div>
    </div>
    <label>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure neque eaque alias optio, nobis nam nesciunt natus? Veritatis at voluptate quo aliquam quae, ut quod corrupti enim necessitatibus debitis delectus?</label>
    <ng-katex [equation]="equation" [options]="options" style="text-align: center;"></ng-katex>
    <label>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure neque eaque alias optio, nobis nam nesciunt natus? Veritatis at voluptate quo aliquam quae, ut quod corrupti enim necessitatibus debitis delectus?</label>
</div>
