<!--
    © 2023 Telefónica Digital España S.L.

    This file is part of XAIoGraphs.

    XAIoGraphs is free software: you can redistribute it and/or modify it under the terms of
    the Affero GNU General Public License as published by the Free Software Foundation,
    either version 3 of the License, or (at your option) any later version.

    XAIoGraphs is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
    without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
    See the Affero GNU General Public License for more details.

    You should have received a copy of the Affero GNU General Public License along with XAIoGraphs.
    If not, see https://www.gnu.org/licenses/.
-->


<div fxFlex fxLayout="column" fxLayoutAlign="start center" class="headerBody">
    <div fxLayout="row" fxLayoutAlign="center center">
        <img src="assets/20221029_lamb_icon.png" alt="" class="headerLogo">
    </div>
    <div *ngFor="let item of optionsMenu" style="width: 100%">
        <div fxLayout="column" fxLayoutAlign="start center" class="headerMenu" [routerLink]="item.component" skipLocationChange="true" [ngClass]="{headerMenuSelected: (this.current == item.component)}">
            <mat-icon class="headerMenuLogo">{{ item.icon }}</mat-icon>
            <label class="headerMenuLabel">{{ item.title }}</label>
        </div>
    </div>
</div>
