@import "../../../styles.scss";

.headerBody {
    @extend .bgGrey8;
    width: 100px;
}

.headerLogo {
    height: 40px;
    margin: 10px;
}

.headerMenu {
    @extend .fontWhite;
    padding: 15px 0px;
}

.headerMenuSelected {
    @extend .bgGrey6;
    @extend .fontBold;
}
